/** @format */
:root {
	--gap: 0.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-size: 1.2rem;
	font-weight: bold;
}

input {
	border: 1px solid black;
}

.App {
	margin: auto;
	padding: 1rem;
}

.Container {
	padding: 1rem;
	border: 2px solid black;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.Form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: max-content;
	margin: auto;
}

.Form__Section {
	display: flex;
	flex-direction: column;
}

.App__Grid--1fr,
.App__Grid--3fr {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}
