/** @format */
:root {
	--gap: 0.5rem;
	--padding-sm: 0.4rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-size: 1.2rem;
	font-weight: bold;
}

input {
	border: 1px solid black;
}

.App {
	margin: auto;
	padding: 1rem;
}

.Container {
	padding: 1rem;
	border: 2px solid black;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.Form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: max-content;
}

.Form__Section {
	display: flex;
	flex-direction: column;
}

.Form__Dates {
	display: flex;
	gap: var(--gap);
}

.Form__Buttons {
	display: flex;
	gap: var(--gap);
}

.Form__Buttons button:nth-child(1) {
	flex: 3 1 auto;
}

.Form__Buttons button:nth-child(2) {
	flex: 1 3 auto;
}

.Education,
.Practical {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.App__Grid--1fr,
.App__Grid--3fr {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: var(--padding-sm);
}

.App__Grid--3fr {
	align-items: center;
}

/* Media queries for screen breakpoints */
@media screen and (min-width: 768px) {
	.App__Grid--1fr {
		align-items: center;
	}

	.App__Grid--3fr {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 576px) {
	.App__Grid--1fr {
		align-items: center;
	}

	.Form {
		width: auto;
	}

	.Container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}
}

@media screen and (max-width: 310px) {
	.App__Grid--1fr .GeneralInformation {
		align-self: flex-start;
	}
}
