/** @format */
:root {
	--gap: 0.5rem;
	--gap-md: 1rem;
	--gap-lg: 1.5rem;
	--padding-sm: 0.4rem;
	--padding-md: 0.8rem;
	--padding-lg: 1.2rem;
	--border-radius: 10px;

	--primary: #042832;
	--secondary: #31b3ac;
	--secondary-light: #b4dfdd;
	--dark: #272b30;
	--light: #fffefe;
	--light-dark: #ebebeb;
	--bg: #ffebd9;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
}

input {
	border: 1px solid var(--dark);
	border-radius: var(--border-radius);
	background-color: var(--light-dark);
	color: var(--dark);
	font-size: 1.1rem;
	padding: var(--padding-sm);
	transition: background-color 250ms ease-out;
}

input:focus {
	background-color: var(--light);
}

button {
	border: 2px solid var(--dark);
	border-radius: var(--border-radius);
	background-color: var(--light);
	color: var(--dark);
	padding: var(--padding-sm) var(--padding-md);
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 250ms ease-out;
}

.Button--Edit {
	font-size: 0.9rem;
}

.App {
	margin: auto;
	padding: 1rem;
}

.Container {
	border: 2px solid var(--primary);
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.Form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: max-content;
}

.Form__Section {
	display: flex;
	flex-direction: column;
}

.Form__Dates {
	display: flex;
	gap: var(--gap);
}

.Form__Buttons {
	display: flex;
	gap: var(--gap);
}

.Form__Buttons button:nth-child(1) {
	flex: 3 1 auto;
}

.Form__Buttons button:nth-child(2) {
	flex: 1 3 auto;
}

.Education,
.Practical {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.Information {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap);
	padding: var(--padding-md) var(--padding-lg);
	text-transform: capitalize;

	border: 2px solid var(--primary);
	border-radius: var(--border-radius);
	background-color: var(--light-dark);
}

.App__Grid--1fr {
	background-color: var(--primary);
	color: var(--light);
	gap: var(--gap-md);
}

.App__Grid--1fr button:hover {
	background-color: var(--secondary-light);
}

.App__Grid--3fr {
	background-color: var(--secondary-light);
	color: var(--primary);
	align-items: center;
	gap: var(--gap-lg);
}

.App__Grid--3fr button:hover {
	background-color: var(--primary);
	color: var(--light);
}

.App__Grid--1fr,
.App__Grid--3fr {
	display: flex;
	flex-direction: column;
	padding: var(--padding-md);
}

/* Media queries for screen breakpoints */
@media screen and (min-width: 768px) {
	.App__Grid--1fr {
		align-items: center;
	}

	.App__Grid--3fr {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 576px) {
	.App__Grid--1fr {
		align-items: center;
	}

	.Form {
		width: auto;
	}

	.Container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}
}

@media screen and (max-width: 310px) {
	.App__Grid--1fr .GeneralInformation {
		align-self: flex-start;
	}
}

/* Rule for laptop, desktop devices etc. only */
@media only screen and (hover: hover) {
	.Information .Button--Edit {
		display: none;
	}

	.Information:hover .Button--Edit {
		display: block;
	}
}

/* Rule for mobile devices only */
@media only screen and (hover: none) and (pointer: coarse) {
	.Picture__Overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		border-radius: 50%;
	}
}
